@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
}

main {
  height: 66vh;
  margin: 54px 0;
  display: flex;
  justify-content: space-between;
}

header {
  background: #3f8f8d;
  text-align: center;
  color: white;
  height: 84px;
}

h1 {
  padding: 19px 0;
  font-size: 25px;
  font-family: "Roboto";
}

img {
  width: 50px;
}

#tableDiv {
  position: relative;
  right: 25%;
  top: 25px;
}

table {
  border-collapse: collapse;
  width: 410px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffd3de;
}
tr:nth-child(odd) {
  background-color: #f6b8d1;
}

th {
  background-color: #ffc0d0;
  color: white;
}
section {
  position: relative;
  width: 343px;
  left: 25%;
}

form {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
fieldset {
  border-radius: 5px;
  display: grid;
  border: 2px solid gray;
  border-style: dashed;
  padding: 2px 12px;
}
label {
  padding: 5px 0;
}
footer {
  font-family: "Roboto";
  text-align: center;
  height: 28px;
  background: #5dc0a6;
  padding: 0 0px;
  padding-top: 20px;
  color: white;
}
#submitButton {
  background-color: #609c4d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 93px;
}

#clearButton {
  position: relative;
  top: -81px;
  left: 39%;
  background-color: #ac0d0d;
  border: none;
  color: white;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 92px;
  height: 50px;
}

* {
  font-family: "Roboto", sans-serif;
}
